@model TableRowViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<body>
<a href="@Url.Action("Home","Home",new {filePath=Model.FilePath})"><button  type="button" style="border-radius: 12px" class="btn btn-primary mt-3 mb-3">Главная</button></a>
<div align="center">
    <h1>Уровень процентных ставок по кредитным продуктам банков</h1>
    <h1>@Model.Statistics[0].Date</h1>
    <table id="cartTable" class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
        <tr>
            <th class="td-statistic-high"></th>
            @foreach (var statistic in Model.Statistics)
            {
                <th style="width: 350px">@statistic.TableName</th>
            }
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr>
            <td >Максимальная ставка</td>
            @foreach (var row in Model.Statistics)
            {
                <td>@row.StatisticsViewModel.MaxRate</td>
            }
        </tr>
    </table>
    <table id="cartTable" class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
        <tr>
            <th style="width: 315px"></th>
            @foreach (var statistic in Model.Statistics)
            {
                <th class="td-statistic-low">Кол-во банков</th>
                <th class="td-statistic-low">Кол-во продуктов</th>
            }
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr>
            <td>≤ РВСР</td>
            @foreach (var statistic in Model.Statistics)
            {
                <td > @statistic.StatisticsViewModel.CountOfBanksWithMaxRateBelowRVSR</td>
                <td >@statistic.StatisticsViewModel.CountOfCreditProductsWithMaxRateBelowRVSR</td>
            }
        </tr>
        <tr>
            <td>˃ РВСР ≤ 20%</td>
            @foreach (var statistic in Model.Statistics)
            {
                <td >@statistic.StatisticsViewModel.CountOfBanksWithRateAboveRVSRBelow20</td>
                <td >@statistic.StatisticsViewModel.CountOfCreditProductsWithRateAboveRVSRBelow20</td>
            }
        </tbody>
        </table>
</div>
</body>