@model TableRowViewModel
@{
    Layout = "_TableLayout";
    List<List<ExcelParser.Parser.Models.TableRow>> groupedRows = Model.TableRows
        .GroupBy(row => row.BankName)
        .Select(group => group.ToList())
        .ToList();
}
<body>
<a href="@Url.Action("Home","Home",new {filePath=Model.FilePath})"><button  type="button"style="border-radius: 12px" class="btn btn-primary">Главная</button></a>
<a href="@Url.Action("UpdateTable","Home",new {filePath=Model.FilePath,tableName=ViewData["Title"]})"><button  type="button"style="border-radius: 12px" class="btn btn-primary">Редактировать</button></a>
<div class="row px-xl-5">
    <div class="col-lg-12 table-responsive mb-5">
        <form method="post" asp-controller="Home" asp-action="TableFiltering">
            <input type="hidden" name="filePath" value="@Model.FilePath"/>
            <input type="hidden" name="tableName" value="@ViewData["Title"]"/>
        
            <label for="termMinFiltering">Term Min Filtering:</label>
            <select asp-for="TermMinFiltering" class="form-control" id="termMinFiltering">
                <option value="None">None</option>
                <option value="IsNull">Is Null</option>
                <option value="IsNotNull">Is Not Null</option>
            </select>
            <br />
            <label for="termMinMinimumValue">Term Min Minimum Value:</label>
            <input asp-for="TermMinMinimumValue" class="form-control" id="termMinMinimumValue" />
            <br />
            <label for="termMinMaximumValue">Term Min Maximum Value:</label>
            <input asp-for="TermMinMaximumValue" class="form-control" id="termMinMaximumValue" />
            <br />

            <label for="termMaxFiltering">Term Max Filtering:</label>
            <select asp-for="TermMaxFiltering" class="form-control" id="termMaxFiltering">
                <option value="None">None</option>
                <option value="IsNull">Is Null</option>
                <option value="IsNotNull">Is Not Null</option>
            </select>
            <br />
            <label for="termMaxMinimumValue">Term Max Minimum Value:</label>
            <input asp-for="TermMaxMinimumValue" class="form-control" id="termMaxMinimumValue" />
            <br />
            <label for="termMaxMaximumValue">Term Max Maximum Value:</label>
            <input asp-for="TermMaxMaximumValue" class="form-control" id="termMaxMaximumValue" />
            <br />

            <label for="rateMinFiltering">Rate Min Filtering:</label>
            <select asp-for="RateMinFiltering" class="form-control" id="rateMinFiltering">
                <option value="None">None</option>
                <option value="IsNull">Is Null</option>
                <option value="IsNotNull">Is Not Null</option>
            </select>
            <br />
            <label for="rateMinMinimumValue">Rate Min Minimum Value:</label>
            <input asp-for="RateMinMinimumValue" class="form-control" id="rateMinMinimumValue" />
            <br />
            <label for="rateMinMaximumValue">Rate Min Maximum Value:</label>
            <input asp-for="RateMinMaximumValue" class="form-control" id="rateMinMaximumValue" />
            <br />

            <label for="rateMaxFiltering">Rate Max Filtering:</label>
            <select asp-for="RateMaxFiltering" class="form-control" id="rateMaxFiltering">
                <option value="None">None</option>
                <option value="IsNull">Is Null</option>
                <option value="IsNotNull">Is Not Null</option>
            </select>
            <br />
            <label for="rateMaxMinimumValue">Rate Max Minimum Value:</label>
            <input asp-for="RateMaxMinimumValue" class="form-control" id="rateMaxMinimumValue" />
            <br />
            <label for="rateMaxMaximumValue">Rate Max Maximum Value:</label>
            <input asp-for="RateMaxMaximumValue" class="form-control" id="rateMaxMaximumValue" />
            <br />

            <label for="noteFiltering">Note Filtering:</label>
            <select asp-for="NoteFiltering" class="form-control" id="noteFiltering">
                <option value="None">None</option>
                <option value="IsNull">Is Null</option>
                <option value="IsNotNull">Is Not Null</option>
            </select>
            <br />

            <label for="periodFiltering">Period Filtering:</label>
            <select asp-for="PeriodFiltering" class="form-control" id="periodFiltering">
                <option value="None">None</option>
                <option value="Month">Month</option>
                <option value="Year">Year</option>
            </select>
            <br />

            <label for="keywordSearch">Keyword Search:</label>
            <input asp-for="KeywordSearch" class="form-control" id="keywordSearch" />
            <br />

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        
        @foreach (var tableRows in groupedRows)
        {
            <h3>Id : @tableRows[0].Id</h3>
            <h3>Банк : @tableRows[0].BankName</h3>
            <table id="cartTable" class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                <tr>
                    <th>Кредитный продукт</th>
                    <th>Срок min</th>
                    <th>Срок max</th>
                    <th>Период</th>
                    <th>Ставка min</th>
                    <th>Ставка max</th>
                    <th>Примечание</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                @foreach (var tableRow in tableRows)
                {
                    <tr>
                        <td>@(tableRow.CreditProduct != null ? tableRow.CreditProduct : "")</td>
                        <td>@(tableRow.TermMin != null ? tableRow.TermMin.ToString() : "")</td>
                        <td>@(tableRow.TermMax != null ? tableRow.TermMax.ToString() : "")</td>
                        <td>@(tableRow.Period != null ? tableRow.Period : "")</td>
                        <td>@(tableRow.RateMin != null ? tableRow.RateMin.ValueString : "")</td>
                        <td>@(tableRow.RateMax != null ? tableRow.RateMax.ValueString : "")</td>
                        <td>@(tableRow.Note != null ? tableRow.Note : "")</td>
                    </tr>
                }

                </tbody>
            </table>
        }
    </div>
</div>

</body>